body {
	background-color: #f7f7f4
}

#whole {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	min-width: 750px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #f4f4ef;
}

h1, span {
	margin: 0;
	padding: 0;
}

nav > ol, ul {
	padding: 0;
	list-style: none;
}

nav > ul li a {
	color: black;
	text-decoration: none;
}

#main > article > a, p a {
	color: black;
}

nav > ul li h1 {
	color: #303F42;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 5px 0 0 0;
}

#main-wrapper {
	float: right;
	width: 75%;	
	border: 0;
	margin: 0;
	padding: 0;
}

#main > article {
	padding: 5px 0 0 15px;
}

#main > header {
	min-height: 100%;
	padding-bottom: .5em;
	padding-left: 15px;
	border-bottom: 2px solid #EEC015;
	color: #303F42;
}

#main > article > h2 {
	color: #303F42;
}

#main > article > h2, p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

#main > article > h2 {
	margin: 5px 0 0 0;
}

#side-menu {
	position: relative;
	right: 0%;
	/*padding: 0 15px 0 15px;*/
	width: 25%;
	overflow: hidden;
}

#side-menu > nav {
	height: 100%;
	padding-right: 15px;
	padding-top: 2.75em; /* aligns top of nav with content section */
	text-align: right;
	border-right: 2px solid #EEC015;
}

footer {
	clear: both; /* keeps footer in one piece */
	padding-top: 20px;
	text-align: right;
	color: #EEC015;
}

footer	span {
	color: #303F42;
}

article div div ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

/* Resume Page */
#resume {
	background-color: #f7f7f4;
	padding: 5px 5px 0 10px;
}

th {
	font-weight: 500;
	font-size: 150%;
}

td, th {
	text-align: left;
	padding: 0;
	vertical-align: top;
}

.top-info {
	text-transform: uppercase;
	font-weight: 600;
}

.top-info, .sub-info {
	padding: 0;
}

.sub-italic {
	font-style: italic;
}

#resume-footer {
	margin-top: 20px;
}

