/* BASE */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

/* Side Menu */
.side-menu {
	width: 10%;
}

.side-menu > nav {
	border-right: 2px solid #ee7b00;
}

.main-text {
	width: 90%;
}